image: gradle:6.2-jdk11

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - gradle build

test:
  stage: test
  script:
    - gradle test
    - gradle check --stacktrace --info
    - gradle jacocoTestReport
    - cat build/reports/jacoco/test/html/index.html

Production:
  image: ruby:2.4
  stage: deploy
  only:
    - master
  before_script:
    - gem install dpl
    - wget -qO- https://cli-assets.heroku.com/install-ubuntu.sh | sh
  script:
    - cd debt-reminder-bot
    - dpl --provider=heroku --app=$HEROKU_APPNAME --api-key=$HEROKU_APIKEY
    - export HEROKU_API_KEY=$HEROKU_APIKEY
    - heroku run --app $HEROKU_APPNAME migrate
    - cd ../
  environment:
    name: production
    url: $HEROKU_APPHOST

